<html>
<head>
<title>Spring SPA</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
 <script src="resources/static/js/hello.js"></script>
</head>

<body>

<div ng-controller="Hello">

<p>The title is: {{book.title}}</p>
<p>The author is: {{book.author}}</p>
<p>The isbn is: {{book.isbn}}</p>
<p>The Page Count is: {{book.pageCount}}</p>
<p>The publisher is: {{book.publisher}}</p>
<p>The URL is: {{book.url}}</p>

</div>

</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
</html>